@CHARSET "UTF-8";
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}



#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
 
#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
 
/** custom login button **/
.flatbtn-blu { 
  margin:10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #edf4f9;
  text-decoration: none;
  background-color: #4f94cf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px 26px 12px 26px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.flatbtn-blu:hover {
  color: #fff;
  background-color: #519dde;
}
.flatbtn-blu:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}


#deletemodal
{
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}


#editor{
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

}
 
#loginmodal {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
 
#loginform { /* no default styles */ }
 
#loginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }
 
#myeditor{

} 
 

#p{	
	background: #cccccc;
	
}
 #photo-box
 {
 	width:200px;
 	height:200px;
 	border:1px solid #bbb;
 	float: left;
 	margin:10px;
 }
 #photo-max-box{
 	width:700px;
 	height:600px;
 	margin:0px auto;
 	text-align:left;5px;
 	border:1px solid red;
 	padding:5px;
 }
.txtfield { 
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
 
.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}

#X{
	
	position:relative;right:0px ;top:0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  text-decoration: none;
  margin-top:0px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f3f6fa;
 
 
}


	
	
#l1{ background:rgba(255,251,200, 0.7); height: 100%; width: 200px; 
 position: absolute; left: 0px; top: 0px;padding: 10px; border="1"; 
 } 
 
#r1 { background:rgba(255,251,100, 0.7); height: 100%; width: 100%; 
 position: absolute; left: 250px; top: 0px;padding: 10px; border="1"; 
 } 
 
 
  
#head{width:800px;
        height:50px;}
		
 
#head ul{padding:0px; margin:0px;}
  
#head ul li{ float:left;  display:block; 
               width:80px;padding:5px; margin:5px 50px 10px 50px; position:relative;left:600px ;top:20px;} 



#d1{

  border:1px solid #360;
  width:100%;
  height:100%;
  margin-top:0px;
  position:absolute;
  z-index:1;
 }
 
 
#d2{
   background-color:#9CC;
 border:1px solid #C39;
 width:400px;
 display:none;
  height:220px;
  margin-top:0px;
  position:absolute;
  z-index:1;
 }
 
#create
{
	border:1px slidd #360;
	box-shadow:10px 10px 5px #888888;
	background:rgba(255,251,240, 0.7);
	display:none;
	width:300px;
	height:200px;
	margin-top:200px;
	position:absolute;
	z-index:3;
}



/*这是控制超链接字体颜色*/
a:link{ color:#f00/*颜色自定义*/;font-family:"楷体"; font-size:20px;} /* 未访问的链接 */ 
a:visited{color:#1E90FF/*颜色自定义*/} /* 已访问的链接 */ 
a:active{ color:#660099/*颜色自定义*/}/* 点击激活链接 */ 

/*这是控制登录框的样式*/
#leftMenu { background:rgba(255,251,240, 0.7); height: 300px; width: 300px; 
 position: absolute; right: 200px; top: 200px;padding: 10px; 
 } 

 /*这是控制按钮样式*/
.className{
  line-height:30px;
  height:30px;
  width:70px;
  color:#fafcfd;
  background-color:#05dbf0;
  font-size:16px;
  font-weight:normal;
  font-family:Arial;
  border:2px solid #dcdcdc;
  -webkit-border-top-left-radius:11px;
  -moz-border-radius-topleft:11px;
  border-top-left-radius:11px;
  -webkit-border-top-right-radius:11px;
  -moz-border-radius-topright:11px;
  border-top-right-radius:11px;
  -webkit-border-bottom-left-radius:11px;
  -moz-border-radius-bottomleft:11px;
  border-bottom-left-radius:11px;
  -webkit-border-bottom-right-radius:11px;
  -moz-border-radius-bottomright:11px;
  border-bottom-right-radius:11px;
  -moz-box-shadow: inset 0px 0px 9px -2px #e3dcdc;
  -webkit-box-shadow: inset 0px 0px 9px -2px #e3dcdc;
  box-shadow: inset 0px 0px 9px -2px #e3dcdc;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
.className:hover{
  background-color:#10ecf6;
} 
